.shu{
    display: flex;
    justify-content: center;
}

.sec{
    display: block;
    justify-content: center;
    position: relative;
    border: 2px solid black;
    width: 100%;
    margin: 13px;
    text-align: center;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.sec h6{
    text-align: center;
    text-transform: capitalize;
}

.sec p{
    text-align: center;
   
}

.sec a.btn {
    padding: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.sec a.btn:hover {
    padding: 6px;
    background-color: rgb(85, 255, 93);
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.sec:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    justify-content: center;
    position: relative;
    border: 2px solid black;
    width: 100%;
    margin: 16px;
    text-align: center;
    align-items: center;
}

p.card-text {
    margin-left: 23px;
}